.body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Changed background color */
}

.registration-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; /* Increased border-radius for a smoother look */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for better contrast */
    max-width: 400px;
    margin: 100px auto;
}

.button {
    background-color: #00796b; /* Changed button color */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button button:hover {
    background-color: #004d40; /* Darker shade for hover effect */
}


.p {
    margin-top: 20px;
    color: #37474f;
}

.a {
    color: #00796b; /* Link color matching the button */
    text-decoration: none;
}

.a a:hover {
    text-decoration: underline;
}