<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSP's Python Course</title>
    <link href="static/welcome.css" rel="stylesheet"/>
   
</head>
<body class="body">

    <div class="container">
        <h1 class="h1">Welcome to DSP's Python Course</h1>
        <p class="p">Join our comprehensive Python course designed to take you from beginner to advanced level. Whether you're just starting out or looking to enhance your skills, this course offers everything you need to succeed.</p>
        
        <div class="buttons">
            <a style="background-color: #99ff99" href="{{ url_for('register') }}">Register</a>
            <a style="background-color: #9999ff" href="{{ url_for('login') }}">Login</a>

        </div>
    </div>

</body>
</html>
